@font-face {
  font-family: "DM Serif Display";
  src:
    local("DM Serif Display"),
    url("/font/DMSerifDisplay.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  src:
    local("DM Sans"),
    url("/font/DMSans.ttf") format("truetype");
}

@font-face {
  font-family: "Monaspace Neon";
  src:
    local("Monaspace Neon"),
    url("/font/MonaspaceNeon.woff2") format("woff2");
  font-feature-settings: "calt", "liga";
}

:root {
  --docusaurus-highlighted-code-line-bg: light-dark(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3)
  );
  --ifm-color-primary: light-dark(#212121, #eaeaea);
  --ifm-color-primary-dark: light-dark(#1e1e1e, #d3d3d3);
  --ifm-color-primary-darker: light-dark(#1c1c1c, #c7c7c7);
  --ifm-color-primary-darkest: light-dark(#171717, #a4a4a4);
  --ifm-color-primary-light: light-dark(#242424, #ffffff);
  --ifm-color-primary-lighter: light-dark(#262626, #ffffff);
  --ifm-color-primary-lightest: light-dark(#2b2b2b, #ffffff);
  --ifm-font-family-base: "DM Sans", ui-sans-serif, sans-serif;
  --ifm-heading-font-family: "DM Serif Display", ui-serif, serif;
  --ifm-font-family-monospace:
    "Monaspace Neon", ui-monospace, ui-monospace, monospace;
}

.navbar__link {
  --ifm-navbar-link-color: color-mix(
    in srgb,
    var(--ifm-font-color-base) 70%,
    transparent
  );
}
