@font-face {
  font-family: "Manrope";
  src:
    local("Manrope"),
    url("/font/Manrope.woff2") format("woff2");
}

@font-face {
  font-family: "Unbounded";
  src:
    local("Unbounded"),
    url("/font/Unbounded.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Neon";
  src:
    local("Monaspace Neon"),
    url("/font/MonaspaceNeon.woff2") format("woff2");
  font-feature-settings: "calt", "liga";
}

:root {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-color-primary: #ff2c9c;
  --ifm-color-primary-dark: #ff0a8c;
  --ifm-color-primary-darker: #fd0086;
  --ifm-color-primary-darkest: #e6007a;
  --ifm-color-primary-light: #cf006e;
  --ifm-color-primary-lighter: #c40068;
  --ifm-color-primary-lightest: #a10055;
  --ifm-font-family-base: "Manrope", sans-serif;
  --ifm-heading-font-family: "Unbounded", sans-serif;
  --ifm-font-family-monospace: "Monaspace Neon", ui-monospace, monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-primary: #ff86c6;
  --ifm-color-primary-dark: #ff59b1;
  --ifm-color-primary-darker: #ff4aaa;
  --ifm-color-primary-darkest: #ff2c9c;
  --ifm-color-primary-light: #ff0e8e;
  --ifm-color-primary-lighter: #fe0087;
  --ifm-color-primary-lightest: #d1006f;
}
