.supporters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supporter {
  display: contents;
  color: inherit;

  figure {
    figcaption {
      display: none;
    }
  }
}

.opengov {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  p {
    flex: 1;
    font-family: var(--ifm-heading-font-family);
    font-size: var(--ifm-h1-font-size);
    margin-bottom: 0;
  }
}
