.supporters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.supporter {
  display: contents;
  color: inherit;

  figure {
    svg {
      width: 14rem;
    }

    figcaption {
      display: none;
    }
  }
}
